{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/resetPassword.css') }}">{% endblock %}


{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1 class="page-title">Réinitialisation de mot de passe</h1>
            {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.mail) }}
                <button class="button" type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>
</section>

{% endblock %}