html, body {
    height:100%;
    font-family: "Open sans";
}

body {
    background-color: lightblue;
}

.login-center {
    width: 50%;
    background-color: lightcoral;
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}