#live-flash-ctn {
  max-width: 300px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  z-index: 150;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 15%;
}
#live-flash-ctn.success {
  background-color: #88e188;
  border: 1px solid #88e188;
}
#live-flash-ctn.error {
  background-color: #D9544D;
  border: 1px solid #D9544D;
  color: #FFFFFF;
}
.btn-close {
  border: 0px;
  background-color: transparent;
  font-weight: bold;
  order: 2;
  font-size: 12pt;
}
