@import '_colors.less';
@import 'utility.less';

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    max-width: 60%;
    margin: auto;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
      margin-bottom: 1rem;
      font-weight: 700;
    }
  }

  .vich-image {
    display: flex;
    flex-direction: column;

    div {

      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 1rem 0;

      label {
        font-weight: 400;
        order: 2;
        margin-bottom: 0;
      }
    }


  }
  
  .vich-image > input {
    order: 1;
  }
  
  .vich-image > a > img {
    width: 15rem;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

@media screen and (max-width: @mobile) {
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    .image-container {
      gap: 1rem;

      .vich-image {
        gap: 1rem;
      }
    } 
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    margin: auto;
  
  }
}
  

/* 
Visionnage d'un autre profil utilisateur 
*/
h1 {
  display: flex;
  width: fit-content;
  margin: 3rem auto;
}

  .viewed-profile-container {
    display: flex;
    width: fit-content;
    margin: 5rem auto;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }

  img {
    width: 20rem;
    object-fit: contain;
  }

  .field-container {
    display: flex;
    gap: 1rem;
  }

  .field-title {
    font-weight: 700;
  }

  .back-button {
    width: fit-content;
    display: flex;
    margin: auto;
  }