@import 'utility.less';

.user-container {
    text-align: right;
    padding: 1rem 1.5rem 1rem 1rem;
    background-color: @dark;
    color: @white;
    width: 15rem;
    margin-left: auto;
    border-radius: 0 0 0 0.5rem;
}

h1 {
    padding-left: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 5rem;
}

.first-column,
.second-column {
    width: 40%;
}

.first-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.checkbox-container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem 1rem;
}

.checkbox-container .input-container {
    margin-bottom: 10px;
}

.submit-container {
    width: fit-content;
    margin: auto;
}

.sortie-container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

tbody tr:nth-child(even) {
    background-color: #d6d4d4;
}

th, td {
    border: 1px solid #c2c2c2;
    padding: 8px;
    text-align: center;
}

th {
    background-color: @dark-blue;
    color: @white;
}

.input-container label{
    display: inline-block;
    border: 0.1rem solid @dark-blue;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    cursor: pointer;
    padding: 8px 12px;
}

.input-container label:hover {
    background-color: @blue;
    color: @white;
}

.input-container input[type="checkbox"]:checked + label {
    border: 0.1rem solid @blue;
    background-color: @blue;
    color: #fff;
    transition: all .2s;
}

.input-container input[type="checkbox"] {
  display: absolute;
}
.input-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.input-container input[type="checkbox"]:focus + label {
  border: 0.1rem solid @blue;
}

select {
    background-color: @white;
    padding: 0.2rem 1rem;
    border: 0.1rem solid @dark-blue;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.name-option-container > input {
    border: none;
    border-bottom: solid 0.1rem @dark-blue;
    padding: 0.1rem;
    font-size: 0.9rem;
}

.name-option-container > input:focus {
    outline: none;
}

.button-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

tbody tr td:last-child {
    width: 13rem;
    margin: auto;
}

.button-create {
    display: flex;
    width: fit-content;
    margin: 2rem auto;
}

.detail-mobile-container {
    display: none;
}

.mobile-sortie-container {
    display: none;
}

        /* Styles pour le loader */
        .loader {
            display: none; /* Masquer le loader par défaut */
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
            z-index: 9999; /* S'assurer que le loader est au-dessus de tout */
            text-align: center;
            padding-top: 20%;
        }
        .loader img {
            width: 50px; /* Taille de l'icône de chargement */
        }


@media screen and (max-width: @mobile) {

    :root {
        font-size: 12px;
    }

    form {
        flex-direction: column;
        gap: 0;
    }

    .user-container {
        display: none;
    }

    .filters {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 1rem;
    }

    .first-column, .second-column {
        width: 100%;
    }

    .checkbox-container {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 0 1rem;
    }

    .input-container {
        font-size: 1rem;
        width: 10rem;

        label {
            white-space: normal;
        }
    }

    .mobile-sortie-container {
        display: flex;
    }

    tbody tr td:last-child {
        width: auto;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .show-details-sortie {
        width: 2rem;
    }

    .sortie-container {
        display: none;
    }

    .button-create {
        display: none;
    }

    h2 {
        margin-bottom: 2rem;
    }

    .detail-mobile-container {
        display: none;
        position: absolute;
        top: 7.5rem;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem 0;
        background-color: @white;
        z-index: 50;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        img {
            width: 2rem;
            display: flex;
            margin: 0 2rem 0 auto;
        }

        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            p span {
                font-weight: 700;
            }
        }
    }

    .show {
        display: flex;
    }
}
