{% extends 'base.html.twig' %}

{% block title %}{{ tab_name_prefix }} Accès non autorisé{% endblock %}

{% block body %}
    <h1>Accès non autorisé.</h1>
    <p>Le code est : {{status_code}}</p>
    <p>Le texte est : {{status_text}}</p>
{% endblock %}